{% extends 'base.html' %}

{% block content %}
<head>
    <title>Stellar Account Details</title>
    <style>
        .account-details {
            text-align: center;
            padding: 20px;
        }
        .account-details p {
            margin: 10px 0;
        }
        .balance-list {
            list-style-type: none;
            padding: 0;
        }
        .balance-item {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>AFRO Account Details</h1>
    <div class="account-details">
        <p>Public Key: {{ stellar_account.public_key }}</p>
        <p>Secret Key: {{ stellar_account.secret_key }}</p>
        <p>Mnemonic: {{ stellar_account.mnemonic }}</p>
        <p>Transaction Hash: {{ stellar_account.transaction_hash }}</p>
        {% if balances %}
            <p>Balances:</p>
            <ul class="balance-list">
                {% for balance in balances %}
                    <li class="balance-item">
                        <p>{{ balance.amount }} {{ balance.currency.ticker }}</p>  
                        <p><img src="{{ balance.currency.image_url }}" alt="{{ balance.currency.name }}"></p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>Federation Address: {{ federation_address }}</p>
        <p>Stellar.expert Link: <a href="{{ stellar_account.stellar_expert_link }}" target="_blank">{{ stellar_account.stellar_expert_link }}</a></p>
    </div>
</body>
{% endblock %}
