{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZingyPay - Your Payment Solution</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base/style.css' %}">
    {% block style %}{% endblock %}
    
</head>

<body>
    <header>
        <img src="https://res.cloudinary.com/dp7civtid/image/upload/v1691598801/ZingyPay_Pitch_Deck_t94sjx.svg" alt="ZingyPay Logo">
        <p>Your Instant Cross-Border Payment Solution.</p>
    </header>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'payment_form' %}">GET AFRO</a>
        <a href="{% url 'create_account' %}">Create AFRO Account</a>
        
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    
    <!-- Embed the iframes within a container div for horizontal display -->
    <div id="stellar-widget-container">
        <!-- AFRO cryptocurrency -->
        <div class="crypto-card">
            <iframe onLoad="var c=this;window.addEventListener('message',function({data,source}){if(c&&source===c.contentWindow&&data.widget===c.src)c.style.height=data.height+'px'},false);" src="https://stellar.expert/widget/public/asset/summary/AFRO-GBUYO263AYAZZKZI5ZCZFCPIGC42JVCGAOIP2CBBCUP2UTCEUIPIE2VV" style="border:none;overflow:hidden;max-width:100%; min-width:300px;max-height:100%;min-height:200px;width:100%"></iframe>
        </div>

        <!-- LIFE cryptocurrency -->
        <div class="crypto-card">
            <iframe onLoad="var c=this;window.addEventListener('message',function({data,source}){if(c&&source===c.contentWindow&&data.widget===c.src)c.style.height=data.height+'px'},false);" src="https://stellar.expert/widget/public/asset/summary/LIFE-GBUYO263AYAZZKZI5ZCZFCPIGC42JVCGAOIP2CBBCUP2UTCEUIPIE2VV" style="border:none;overflow:hidden;max-width:100%; min-width:300px;max-height:100%;min-height:200px;width:100%"></iframe>
        </div>

        <!-- OSO cryptocurrency -->
        <div class="crypto-card">
            <iframe onLoad="var c=this;window.addEventListener('message',function({data,source}){if(c&&source===c.contentWindow&&data.widget===c.src)c.style.height=data.height+'px'},false);" src="https://stellar.expert/widget/public/asset/summary/OSO-GAEESZVR52HUAHPOJZYWMWS7TYLSPS46IAK3ZDT7HTFBULDVOYUNEWCC" style="border:none;overflow:hidden;max-width:100%; min-width:300px;max-height:100%;min-height:200px;width:100%"></iframe>
        </div>
    </div>
    
    {% block content %}
     
     

    <!--Start of Tawk.to Script-->
    
    {% endblock %}

    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/64fc4d14a91e863a5c128b63/1h9soq70l';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <footer>
    <p>Contact us via email by clicking the link <a href="mailto:info@zingypay.com">info@zingypay.com</a> | Follow us on social media:</p>
    <div class="social-icons">
    <ul>
        <li><a href="https://www.facebook.com/zingypay" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.twitter.com/zingypay" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/zingypay"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://linkedin.com/zingypay"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    </div>

    <p>&copy; 2023 ZingyPay. All rights reserved.</p>
    <p>Made with ❤️ by Wiz Fractal Technologies</p>
</footer>

</body>

</html>